/*** Put your css styles here ****/

#fileupload{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding: 5px 10px;
    top: 0;
    border-bottom: 1px solid #ddd;
}
#fileupload .infotext{
    padding: 8px 15px;
    margin: 5px 0;
    border-radius: 2px;
}
#fileupload .infotext.bg-success { color: #7eac6b; }
#fileupload .infotext.bg-danger { color: #b14a4a }


#metaFields{
    top: 90px;
    position: relative;
}

#metaFields label{
    font-size: 13px;
    padding: 6px 0;
}

#metaFields input{
    border-radius: 2px;
    border: 1px solid #CCC;
    font-size: 15px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    padding: 6px 12px;
}

#metaFields .node{
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
#metaFields .node:nth-child(odd){
    background-color: #f9f9f9;
}
#metaFields .node.success{ background-color: #dff0d8; }
#metaFields .node.error{ background-color: #f2dede; }

#metaFields .metacontainer progress{
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px 15px 0 0;
}

#metaFields .metacontainer .btnContainer{
    position: absolute;
    top: 20px;
    right: 0;
}

#metaFields .imagecontainer,
#metaFields .metacontainer{
    float: left;
    margin-right: 10px;
}
#metaFields .btnContainer{
    margin: 15px 15px 0 0;
}

#metaFields canvas.canvasthumb,
#metaFields div.imagethumb{
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center center;
}

#metaFields .btn{
    float: right;
    margin-left: 7px;
}

#metaFields .hiddenIdField{
    display: none;
}
